@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

$bodyBgColor: #5e5d5d;
$sectionBgColor: gray;
$textColor: white;
$activeColor: green;
$playerColor: rgb(116, 116, 116);
$tablet: 640px;
$mobile: 320px;
$hightPlayer: 50px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bodyBgColor;
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}
.wrapper {
  max-width: 1024px;
  margin: 10px auto;
}
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $sectionBgColor;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: 10px;
  color: $textColor;
}
