header {
  position: relative;
  background: #000;
  padding: 14px 0;
  font-weight: 500;
  z-index: 3;

  .wrapper {
    @include flexBase;
  }
  .visible {
    transform: translateX(0);
    display: inline-block;
    padding-left: 30px;
    padding-top: 12px;
    width: 100%;
    z-index: 2;
    .nav_logo {
      display: block;
      margin: 0 0 30px 10px;
    }
    .header_shadow {
      @include media($tablet) {
        opacity: 0.5;
        z-index: 1;
      }
    }
  }

  @include media($tablet) {
    margin: 0;
    padding: 0;
  }
  @include media($mobile) {
    margin: 0;
    padding: 0;
  }
}
.logo {
  font-weight: 400;
  font-size: 19.0145px;
  margin-right: 63px;

  a {
    img {
      height: 52px;
      @include media($tablet) {
        margin: 0;
        padding: 0;
        width: 46px;
        height: auto;
      }
      @include media($mobile) {
      }
      height: auto;
    }
  }
}
.nav_logo {
  display: none;
}
.header_nav {
  display: flex;

  @include media(825px) {
    flex-direction: column;
    align-items: flex-start;

    gap: 15px;
    a {
      color: $color_dark;
    }
  }
}
.header_nav {
  flex-grow: 2;
}
.autor {
  @include media(825px) {
    padding: 15px 10px 40px;
  }
}

.menu {
  flex-grow: 2;
  ul {
    @include flexBase;
    justify-content: start;
    gap: 58px;

    @include media($small_desktop) {
      gap: 48px;
    }
    @include media(825px) {
      flex-flow: column;
      align-items: flex-start;
      gap: 15px;
    }
  }
  li {
    @include media(825px) {
      margin-left: 10px;
    }
    &:hover {
      a {
        color: $color_hover;
      }
    }
  }
}
