@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
a:visited, a:active, a:focus {
  color: #fff;
}

i {
  font-style: normal;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333b41;
}

input:active, input:hover, input:focus {
  outline: 0;
  outline-offset: 0;
}

.wrapper {
  font-family: "Roboto", sans-serif;
  max-width: 1161px;
  margin: 0 auto;
}
@media screen and (max-width: 1190px) {
  .wrapper {
    margin: 0 30px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    margin: 0 20px;
  }
}
@media screen and (max-width: 320px) {
  .wrapper {
    margin: 0 7px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
}

.button {
  color: #fff;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  width: 298px;
  text-align: center;
  padding: 16px 0;
  display: block;
  text-transform: uppercase;
}
.button:hover {
  background: #e47209;
}
.button:active {
  background: #4b9200;
}
@media screen and (max-width: 570px) {
  .button {
    top: 100%;
  }
}
@media screen and (max-width: 360px) {
  .button {
    left: calc(50% - 149px + 8px);
    top: 150%;
    margin-top: 10px;
  }
}

.activ {
  cursor: default;
}
.activ a {
  cursor: default;
  color: orange;
}

header {
  position: relative;
  background: #000;
  padding: 14px 0;
  font-weight: 500;
  z-index: 3;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .visible {
  transform: translateX(0);
  display: inline-block;
  padding-left: 30px;
  padding-top: 12px;
  width: 100%;
  z-index: 2;
}
header .visible .nav_logo {
  display: block;
  margin: 0 0 30px 10px;
}
@media screen and (max-width: 640px) {
  header .visible .header_shadow {
    opacity: 0.5;
    z-index: 1;
  }
}
@media screen and (max-width: 640px) {
  header {
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 320px) {
  header {
    margin: 0;
    padding: 0;
  }
}

.logo {
  font-weight: 400;
  font-size: 19.0145px;
  margin-right: 63px;
}
.logo a img {
  height: 52px;
  height: auto;
}
@media screen and (max-width: 640px) {
  .logo a img {
    margin: 0;
    padding: 0;
    width: 46px;
    height: auto;
  }
}
.nav_logo {
  display: none;
}

.header_nav {
  display: flex;
}
@media screen and (max-width: 825px) {
  .header_nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .header_nav a {
    color: black;
  }
}

.header_nav {
  flex-grow: 2;
}

@media screen and (max-width: 825px) {
  .autor {
    padding: 15px 10px 40px;
  }
}

.menu {
  flex-grow: 2;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: start;
  gap: 58px;
}
@media screen and (max-width: 1000px) {
  .menu ul {
    gap: 48px;
  }
}
@media screen and (max-width: 825px) {
  .menu ul {
    flex-flow: column;
    align-items: flex-start;
    gap: 15px;
  }
}
@media screen and (max-width: 825px) {
  .menu li {
    margin-left: 10px;
  }
}
.menu li:hover a {
  color: orange;
}

.main {
  position: relative;
  background: url(../img/BgPanda.png) center/cover no-repeat;
  background-position: left top;
  height: 100vh;
  color: #ffffff;
}
@media screen and (max-width: 1366px) {
  .main {
    background-position: center;
  }
}
@media screen and (max-width: 1000px) {
  .main {
    height: auto;
    padding-bottom: 52px;
  }
}
@media screen and (max-width: 640px) {
  .main {
    padding-bottom: 87px;
  }
}
@media screen and (max-width: 360px) {
  .main {
    height: auto;
    padding-bottom: 43px;
  }
}

.main_wrapper {
  display: flex;
  place-content: flex-end;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .main_wrapper {
    margin-right: 35px;
  }
}
@media screen and (max-width: 640px) {
  .main_wrapper {
    margin-top: 48px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 320px) {
  .main_wrapper {
    margin: 41px 11px 0 auto;
  }
}

.main__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 500px;
  margin: 87px 0 0 0;
  z-index: 2;
  text-align: center;
  align-items: center;
  right: 0;
}
@media screen and (max-width: 1000px) {
  .main__content {
    margin-top: 42px;
  }
}
@media screen and (max-width: 640px) {
  .main__content {
    max-width: 255px;
    margin: 0;
  }
}
@media screen and (max-width: 360px) {
  .main__content {
    max-width: 128px;
  }
}
.main__content::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 108px;
  width: 465px;
  height: 465px;
  border-radius: 465px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
@media screen and (max-width: 1000px) {
  .main__content::before {
    width: 367px;
    height: 367px;
    top: -9px;
    right: 143px;
  }
}
@media screen and (max-width: 640px) {
  .main__content::before {
    width: 237px;
    height: 237px;
    top: -37px;
    right: 55px;
  }
}
@media screen and (max-width: 360px) {
  .main__content::before {
    max-width: 119px;
    height: 119px;
    top: -18px;
    right: 27px;
  }
}
.main__content h1 {
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  margin-bottom: 60px;
  text-transform: uppercase;
  z-index: 2;
}
.main__content h1 i {
  color: #ffee2e;
}
@media screen and (max-width: 1000px) {
  .main__content h1 {
    font-size: 85px;
    margin-bottom: 41px;
  }
}
@media screen and (max-width: 640px) {
  .main__content h1 {
    font-size: 54px;
    margin: 0;
  }
}
@media screen and (max-width: 360px) {
  .main__content h1 {
    font-size: 28px;
    margin: 0;
  }
}
@media screen and (max-width: 640px) {
  .main__content .main_button {
    position: absolute;
    left: 2px;
    top: calc(100% - 3px);
  }
}
@media screen and (max-width: 320px) {
  .main__content .main_button {
    left: 13px;
    top: calc(100% + 55px);
  }
}

footer {
  position: relative;
  background: #111115;
  padding: 41px 0 50px 0;
}
footer .footer_logo_mobile {
  display: none;
}
footer .footer_button {
  margin: 68px 0 44px 0;
  border-radius: 5px;
}
@media screen and (max-width: 640px) {
  footer .footer_button {
    margin: 32px 0 60px 0;
  }
}
@media screen and (max-width: 320px) {
  footer .footer_button {
    order: 2;
    margin: 8px 0 21px 0;
  }
}
@media screen and (max-width: 640px) {
  footer {
    padding: 12px 20px;
  }
}
@media screen and (max-width: 320px) {
  footer {
    padding: 17px 8px;
  }
  footer .footer_logo {
    display: none;
  }
  footer .footer_logo_mobile {
    display: block;
    text-align: center;
  }
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .footer_wrapper {
    margin: 0 45px;
  }
}
@media screen and (max-width: 640px) {
  .footer_wrapper {
    margin: 0;
    display: block;
  }
}

.footer_left_bar {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .social {
    margin: 0 0 0 6px;
  }
}
@media screen and (max-width: 640px) {
  .social {
    position: absolute;
    right: 8px;
  }
}
@media screen and (max-width: 380px) {
  .social {
    position: static;
    order: 1;
  }
}
@media screen and (max-width: 320px) {
  .social {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-left: 13px;
    margin-top: 29px;
  }
}

.icon {
  margin: 10px 0 20px;
  font-weight: 400;
  font-size: 16px;
}
.icon:hover a,
.icon:hover span {
  color: #4b9200;
}
.icon:hover i:after {
  background: #4b9200;
}
.icon a {
  display: flex;
  align-items: center;
}
.icon i {
  position: relative;
  margin-right: 18px;
  font-size: 16px;
  z-index: 2;
}
.icon i::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  top: calc(50% - 13px);
  left: calc(50% - 13px);
  z-index: -1;
  background-color: gray;
}
@media screen and (max-width: 640px) {
  .icon {
    margin: 4px 0 30px 0;
  }
  .icon span {
    display: none;
  }
}

.logo {
  width: 82px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* align-self: flex-end; */
  justify-content: space-between;
}
@media screen and (max-width: 1095px) {
  .subscribe {
    flex-direction: column-reverse;
    align-items: flex-end;
    align-self: flex-end;
  }
}
.subscribe h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 14px;
  color: #fff;
}

@media screen and (max-width: 1095px) {
  .form {
    position: absolute;
    width: 366px;
    right: 50px;
    top: 46px;
  }
}
@media screen and (max-width: 740px) {
  .form {
    display: none;
  }
}

.emailInput {
  border: 1px solid orange;
  padding: 10px;
  width: 228px;
  font-weight: 400;
  font-size: 16px;
  color: #bdbdbd;
  background: transparent;
}

.submitInput {
  padding: 10px 39px;
  border-radius: 5px;
  margin-left: 10px;
}
.submitInput:active {
  color: #4b9200;
  border: 1px solid #4b9200;
}
@media screen and (max-width: 1000px) {
  .submitInput {
    margin-left: 2px;
    font-size: 16px;
  }
}

.default {
  border: 1px solid #000;
}

.mistake {
  border: 1px solid red;
  color: red;
}

.disign {
  text-align: right;
  font-weight: 100;
  font-size: 16px;
  color: #fff;
  line-height: 25px;
  margin-bottom: 8px;
}
@media screen and (max-width: 1000px) {
  .disign {
    line-height: 30px;
    margin-bottom: 10px;
    margin-right: -28px;
  }
}
@media screen and (max-width: 640px) {
  .disign {
    margin-top: 6px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 570px) {
  .disign {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 320px) {
  .disign {
    margin-bottom: 55px;
    font-size: 15px;
  }
}

footer .footer_nav {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  align-self: flex-end;
  color: #fff;
  margin-bottom: 10px;
}
@media screen and (max-width: 640px) {
  footer .footer_nav ul li {
    margin: 0;
  }
}
@media screen and (max-width: 1095px) {
  footer .footer_nav ul {
    gap: 48px;
    flex-wrap: 0;
  }
}
@media screen and (max-width: 935px) {
  footer .footer_nav ul {
    gap: 15px;
  }
}
@media screen and (max-width: 640px) {
  footer .footer_nav ul {
    flex-flow: wrap;
    gap: 36px;
  }
}
@media screen and (max-width: 320px) {
  footer .footer_nav ul {
    gap: 30px;
  }
}
@media screen and (max-width: 1000px) {
  footer .footer_nav {
    position: absolute;
    left: 335px;
    bottom: 58px;
  }
}
@media screen and (max-width: 640px) {
  footer .footer_nav {
    position: absolute;
    left: 22px;
    bottom: 18px;
  }
}
@media screen and (max-width: 640px) {
  footer .footer_nav {
    left: 19px;
    bottom: 20px;
  }
}

/* Гамбургер иконка */
.burger {
  display: none;
  margin-right: 20px;
}
@media screen and (max-width: 825px) {
  .burger {
    display: block;
  }
}
@media screen and (max-width: 640px) {
  .burger {
    margin: -3px;
  }
}

.burger-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 20;
}

.burger-btn span {
  width: 18px;
  height: 2px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all 0.5s;
}

.burger-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.burger-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.burger-btn.acvisibletive span:nth-of-type(1) {
  display: none;
}

.burger-btn.visible span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
  background: black;
}

.burger-btn.visible span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
  background: black;
}

/* Меню, которое будет появляться */
@media screen and (max-width: 825px) {
  .header_nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: #fff;
    color: black;
    transform: translateX(100%);
    transition: transform 0.5s;
  }
}
.main {
  height: 465px;
  background-position: top left;
}

.donate {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  padding: 46px 0 180px 0;
}
.donate h2 {
  color: #fff;
  font-weight: 400;
  font-size: 36px;
}
@media screen and (max-width: 1000px) {
  .donate h2 {
    line-height: 45px;
    padding-right: 94px;
  }
}
@media screen and (max-width: 640px) {
  .donate h2 {
    font-size: 24px;
    padding: 0;
    line-height: 29px;
  }
}
.donate p {
  margin: 19px 0 58px 0;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
}
@media screen and (max-width: 1000px) {
  .donate p {
    margin: 32px 0 58px 0;
  }
}
@media screen and (max-width: 640px) {
  .donate p {
    margin: 20px 0 36px 0;
    line-height: 22px;
  }
}
@media screen and (max-width: 320px) {
  .donate p {
    margin: 20px 0 32px 0;
  }
}
@media screen and (max-width: 1000px) {
  .donate {
    padding: 43px 0 30px 0;
  }
}
@media screen and (max-width: 640px) {
  .donate {
    padding: 30px 0 47px 0;
  }
}
@media screen and (max-width: 320px) {
  .donate {
    padding: 30px 0 23px 0;
  }
}

.feedFriend__title {
  font-weight: 400;
  font-size: 36px;
  color: #fe9013;
  margin: 0 0 65px 0;
}
@media screen and (max-width: 1000px) {
  .feedFriend__title {
    margin: 0 0 45px 0;
  }
}
@media screen and (max-width: 640px) {
  .feedFriend__title {
    margin: 0 0 35px 0;
  }
}
@media screen and (max-width: 320px) {
  .feedFriend__title {
    font-size: 24px;
    margin: 0 0 32px 0;
  }
}

.feedFriend__body {
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 45px 92px 23px 92px;
}
.feedFriend__body h3 {
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  color: #fe9013;
}
@media screen and (max-width: 1000px) {
  .feedFriend__body h3 {
    padding-right: 18px;
  }
}
@media screen and (max-width: 320px) {
  .feedFriend__body h3 {
    font-size: 24px;
    padding-right: 0;
  }
}
.feedFriend__body p {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
  margin-top: 25px;
}
@media screen and (max-width: 1000px) {
  .feedFriend__body p {
    margin-top: 15px;
  }
}
@media screen and (max-width: 740px) {
  .feedFriend__body p {
    margin: 25px 15px 50px;
  }
}
@media screen and (max-width: 320px) {
  .feedFriend__body p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 140%;
  }
}
.feedFriend__body .pBottom {
  font-weight: 400;
  font-size: 16px;
  color: #333b41;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .feedFriend__body .pBottom {
    padding: 6px 0 0 0;
    margin: 0;
  }
}
@media screen and (max-width: 320px) {
  .feedFriend__body .pBottom {
    padding: 3px 0 0 0;
    font-size: 15.9px;
  }
}
@media screen and (max-width: 1252px) {
  .feedFriend__body {
    padding: 23px 44px 46px 47px;
  }
}
@media screen and (max-width: 740px) {
  .feedFriend__body {
    padding: 36px 0 31px 0;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .feedFriend__body {
    padding: 23px 0 19px 0;
  }
}

.countAnimal {
  display: flex;
  align-items: self-end;
  max-width: 532px;
  margin: 0 auto;
  padding: 0;
  background: url(../img/x_icon.png) no-repeat;
  background-position: 163px 130px;
  gap: 83px;
}
@media screen and (max-width: 520px) {
  .countAnimal {
    gap: 10px;
  }
  .countAnimal img {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .countAnimal {
    max-width: 557px;
    background-position: 175px 130px;
    gap: 66px;
  }
}
@media screen and (max-width: 320px) {
  .countAnimal {
    gap: 0;
    justify-content: space-between;
    background-position: 116px 59px;
  }
}

.count {
  position: relative;
  top: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  font-size: 72px;
  color: #000;
}
.count p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
  color: #333b41;
}
@media screen and (max-width: 520px) {
  .count p {
    font-size: 3vw;
  }
}
@media screen and (max-width: 320px) {
  .count p {
    font-size: 9px;
    margin: 3px 0 0 2px;
  }
}
@media screen and (max-width: 1000px) {
  .count {
    top: 7px;
    right: 10px;
  }
}
@media screen and (max-width: 640px) {
  .count {
    top: -4px;
  }
}
@media screen and (max-width: 520px) {
  .count {
    font-size: 40px;
    align-self: center;
  }
}
@media screen and (max-width: 320px) {
  .count {
    right: 2px;
    top: 14px;
  }
}

@media screen and (max-width: 320px) {
  .animalImg {
    max-width: 160px;
  }
}

.amount {
  margin-top: 32px;
}
.amount p {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding: 15px 0 0 5px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1000px) {
  .amount p {
    padding: 18px 0 0 17px;
  }
}
@media screen and (max-width: 640px) {
  .amount p {
    text-align: left;
    padding: 7px 0 10px 0px;
    margin-left: 10px;
    margin-bottom: 42px;
  }
}
@media screen and (max-width: 320px) {
  .amount p {
    text-align: left;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 640px) {
  .amount {
    margin: 33px 0 0 0;
  }
}
@media screen and (max-width: 320px) {
  .amount {
    line-height: 0;
    margin: 0;
    padding: 0;
  }
}

#donate_sum {
  display: flex;
  gap: 68px;
  align-items: center;
  margin: 5px 0 0 0;
}
@media screen and (max-width: 740px) {
  #donate_sum {
    gap: 50px;
  }
}
@media screen and (max-width: 540px) {
  #donate_sum {
    gap: 0;
  }
}

.donateSumm {
  position: relative;
  display: flex;
}
.donateSumm .scale {
  position: relative;
  height: 27px;
  width: 100%;
  padding: 0 5px;
  background: #404950;
  border-radius: 2px;
}
.donateSumm .scale .zone {
  z-index: 1;
}
.donateSumm .scale .zone input {
  cursor: pointer;
  position: relative;
  width: 10px;
  height: 10px;
  left: 20px;
}
.donateSumm .scale .zone input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: orange;
}
.donateSumm .scale .zone input:checked {
  background: transparent;
}
.donateSumm .scale .zone input:checked::before {
  content: "";
  position: absolute;
  border: 2px solid orange;
  width: 22px;
  height: 22px;
  background: transparent;
  border-radius: 22px;
}
.donateSumm .scale .zone input:checked::after {
  content: "";
  position: absolute;
  border: 2px solid orange;
  left: -17px;
  top: -17px;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 22px;
}
@media screen and (max-width: 640px) {
  .donateSumm .scale .zone input {
    left: 0;
  }
}
@media screen and (max-width: 320px) {
  .donateSumm .scale .zone input {
    top: -2px;
  }
}
.donateSumm .scale .zone label {
  cursor: pointer;
  display: block;
  padding: 40px 0 0 0;
  font-size: 26px;
}
@media screen and (max-width: 540px) {
  .donateSumm .scale .zone label {
    font-size: 18px;
    padding: 35px 0 0 0;
  }
}
@media screen and (max-width: 1252px) {
  .donateSumm .scale .zone:nth-first-child(-n + 1) {
    display: none;
  }
}
@media screen and (max-width: 1124px) {
  .donateSumm .scale .zone {
    padding: 1px 13px 13px;
  }
  .donateSumm .scale .zone:nth-child(-n+2) {
    display: none;
  }
  .donateSumm .scale .zone:nth-child(-n+3) {
    padding-left: 0;
  }
}
@media screen and (max-width: 975px) {
  .donateSumm .scale .zone:nth-child(-n+3) {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .donateSumm .scale .zone {
    padding: 0px 29px 0px 0;
  }
}
@media screen and (max-width: 1000px) {
  .donateSumm .scale {
    left: 17px;
    width: 96%;
    padding: 0;
    gap: 94px;
  }
}
@media screen and (max-width: 640px) {
  .donateSumm .scale {
    width: 100%;
    left: 0;
    top: -45px;
  }
}
@media screen and (max-width: 600px) {
  .donateSumm .scale {
    gap: 0;
    justify-content: space-between;
  }
}
@media screen and (max-width: 540px) {
  .donateSumm .scale {
    height: 15px;
    top: -31px;
    padding: 0;
  }
}
.donateSumm .circle {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 8px;
  background: #ffee2e;
  z-index: 2;
}
@media screen and (max-width: 320px) {
  .donateSumm .circle {
    width: 6px;
    height: 6px;
  }
}
.donateSumm .line {
  position: absolute;
  left: 26px;
  top: 48%;
  height: 2px;
  width: 94%;
  background: #72828e;
}
@media screen and (max-width: 1000px) {
  .donateSumm .line {
    width: 94%;
  }
}
@media screen and (max-width: 640px) {
  .donateSumm .line {
    width: 88%;
    left: 36px;
  }
}
@media screen and (max-width: 320px) {
  .donateSumm .line {
    width: 87%;
    left: 21px;
  }
}
@media screen and (max-width: 1000px) {
  .donateSumm {
    padding: 0;
    margin: 0;
  }
}

.total {
  font-weight: 500;
  font-size: 26px;
  color: #333b41;
}

@media screen and (max-width: 640px) {
  ._500,
._250,
._100,
._50,
._25 {
    margin: 0px 50px;
  }
}
@media screen and (max-width: 600px) {
  ._500,
._250,
._100,
._50,
._25 {
    margin: 10px 40px;
    font-size: 13px;
  }
}
@media screen and (max-width: 535px) {
  ._500,
._250,
._100,
._50,
._25 {
    margin: 10px 15px;
  }
}
@media screen and (max-width: 320px) {
  ._500,
._250,
._100,
._50,
._25 {
    margin: 0 15px;
    font-size: 13px;
  }
}

._5000 {
  margin-right: 57px;
}
@media screen and (max-width: 1252px) {
  ._5000 {
    display: none;
  }
}

._2000 {
  margin-right: 52px;
}
@media screen and (max-width: 1000px) {
  ._2000 {
    margin-left: 18px;
  }
}
@media screen and (max-width: 975px) {
  ._2000 {
    display: none;
  }
}

._500 {
  margin-right: 68px;
}
@media screen and (max-width: 640px) {
  ._500 {
    margin-left: 15px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 320px) {
  ._500 {
    margin-left: 8px;
    margin-right: 20px;
  }
}

._250 {
  margin-right: 70px;
}
@media screen and (max-width: 640px) {
  ._250 {
    margin-right: 20px;
  }
}

._50 {
  margin-right: 85px;
}
@media screen and (max-width: 640px) {
  ._50 {
    margin-right: 40px;
  }
}
@media screen and (max-width: 320px) {
  ._50 {
    margin-right: 28px;
  }
}

._100 {
  margin-right: 73px;
}
@media screen and (max-width: 640px) {
  ._100 {
    margin-right: 20px;
  }
}

._1000 {
  margin-right: 60px;
}
@media screen and (max-width: 840px) {
  ._1000 {
    display: none;
  }
}

.anotherAmount {
  margin-top: 105px;
  text-align: center;
}
.anotherAmount .anotherInput {
  position: relative;
  width: 268px;
  margin: 25px auto;
}
@media screen and (max-width: 640px) {
  .anotherAmount .anotherInput {
    width: 180px;
  }
}
.anotherAmount .anotherInput input {
  padding: 18px 0 18px 9px;
  width: 100%;
  background: transparent;
  border: 1px solid #929699;
  border-radius: 2px;
}
@media screen and (max-width: 640px) {
  .anotherAmount .anotherInput input {
    padding: 11px 0 11px 6px;
    font-size: 16px;
  }
}
.anotherAmount .anotherInput::after {
  content: "$";
  position: absolute;
  font-size: 20px;
  color: #929699;
  right: 15px;
  top: 14px;
}
@media screen and (max-width: 640px) {
  .anotherAmount .anotherInput::after {
    right: 10px;
    top: 10px;
  }
}
@media screen and (max-width: 320px) {
  .anotherAmount .anotherInput {
    margin: 34px auto 0;
  }
}
.anotherAmount input::-webkit-outer-spin-button,
.anotherAmount input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
@media screen and (max-width: 320px) {
  .anotherAmount {
    margin: 0;
  }
}

.amountRadio {
  margin: 25px auto 37px auto;
  width: 218px;
  display: flex;
  gap: 50px;
}
.amountRadio label {
  margin-left: 10px;
}
.amountRadio input {
  position: relative;
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.amountRadio input:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 1px solid orange;
}
.amountRadio input:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: orange;
  transform: translate(-50%, -50%);
  visibility: visible;
}
@media screen and (max-width: 640px) {
  .amountRadio {
    margin: 33px auto 32px auto;
    gap: 45px px;
  }
}
@media screen and (max-width: 320px) {
  .amountRadio {
    margin: 25px auto 32px auto;
  }
}

.button {
  margin: 0 auto 30px;
}

@media screen and (max-width: 1000px) {
  .donate_footer_wrapper {
    margin: 0 29px;
  }
}
@media screen and (max-width: 640px) {
  .donate_footer_wrapper {
    margin: 0;
  }
}
@media screen and (max-width: 320px) {
  .donate_footer_wrapper {
    margin: 0;
  }
}

@media screen and (max-width: 1000px) {
  .subscribe_donate {
    flex-direction: column;
    align-self: auto;
  }
}

@media screen and (max-width: 1000px) {
  .form_donate {
    position: static;
    margin: 5px 34px 0 0;
  }
}

@media screen and (max-width: 1000px) {
  .disign_donate {
    margin: 0 4px 10px 0;
  }
}
@media screen and (max-width: 640px) {
  .disign_donate {
    margin: 0 3px 10px 0px;
    padding: 6px 0 0 0;
  }
}
@media screen and (max-width: 570px) {
  .disign_donate {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 320px) {
  .disign_donate {
    margin: 2px 4px 57px 0px;
  }
}

@media screen and (max-width: 1000px) {
  .main_donate {
    height: 472px;
    background-size: 1500px;
    background-position: -133px -87px;
  }
}
@media screen and (max-width: 640px) {
  .main_donate {
    height: 368px;
    background-size: 1330px;
    background-position: -258px -124px;
  }
}
@media screen and (max-width: 320px) {
  .main_donate {
    height: 220px;
    background-size: 750px;
    background-position: -145px -50px;
  }
}

.shadow {
  position: fixed;
  width: 0;
  height: 100vh;
  background: black;
  top: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s;
  z-index: 0;
}

@media screen and (max-width: 825px) {
  .header_shadow {
    width: 100%;
    opacity: 0.7;
  }
}

/*# sourceMappingURL=donate.css.map */
